<div class="container">
  <div class="user-details">
    <h3> About Me </h3>
    <p> {{site.user_description}} </p>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>Design</h4>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-css3-plain-wordmark colored"></i>
      <p>I use Bootstrap as my main framework for front-end design. I'm 
        experienced coding in HTML/CSS when designing simple sites.</p>
    </div>
    <div class="four columns">
      <h4>Code</h4>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-ruby-plain-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>My main languages as stated before are Ruby and Javascript. I use Rails for
        Ruby and I'm currently learning Node.js.</p>
    </div>
    <div class="four columns">
      <h4>Tools</h4>
      <i class="devicon-git-plain"></i>
      <i class="devicon-heroku-plain-wordmark colored"></i>
      <p>I use Github to host the majority of my coding projects. I've used
        Heroku in the past to host Rails projects.</p>
    </div>
  </div>
</div>
