<div class="container">
  <div class="user-details">
    <h3> Featured Projects </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="moodring" src="{{ "/assets/img/moodring.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5>Mood Ring Radio</h5>
      <li>Coded In Rails</li>
      <li>Uses Three.js as Front End</li>
      <li>Group code shared via Github</li>
      <p>This project was a collaboration between myself and three other programmers. We were tasked
        to create a final project using an idea one of our programmers had pitched: to
        create an app that allowed users to categorize songs based on mood. All songs are gathered using
        Soundcloud's API.</p>
      <a class="project-link" href="http://moodringradio.herokuapp.com">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="mom" src="{{ "/assets/img/mom.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> A Gift to Mom </h5>
      <ul>
        <li>Javascript/JQuery</li>
        <li>Basic HTML/CSS</li>
      </ul>
      <p>This was a one day project as a gift to my mother. I sought to create a simple site, 
        nothing too over the top and have messages loop on end for her to read and repeat. It
        was designed as a gift on her 53rd birthday.</p>
      <a class="project-link" href="http://amixofpersons.github.io/gifttomom">Check it out</a>
    </div>
  </div>
</div>
